# IDE
.idea
.vscode

# Dependencies
node_modules

# Production
/build

# Misc
*.orig
*.DS_Store
webpack-bundle-analyzer-report.*
webpack-visualizer-stats.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
